* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: #f0f2f5;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #e4e4e4;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #4361ee;
  border-radius: 10px;
}